* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

ol,
ul,
menu {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}
/*font-family: "Playfair Display", serif; ctrl + / */
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #177165;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .title {
    font-size: 36px;
    line-height: 48px;
  }
}
.description {
  font-size: 17px;
  line-height: 29px;
  color: #a4d6cf;
  position: relative;
  padding-left: 50px;
  margin-bottom: 20px;
  display: block;
}
.description::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 1px;
  left: 0;
  top: 14px;
  background-color: #a4d6cf;
}
.nav {
  background-color: #177165;
  padding: 25px 10px;
  color: #a4d6cf;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
}
.nav__menu {
  display: flex;
}
.nav__item {
  margin-right: 40px;
  text-transform: lowercase;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__item::first-letter {
  text-transform: uppercase;
}
.nav__link {
  font-size: 15px;
  line-height: 26px;
}
.nav__link:hover {
  color: #fff;
}

.nav__phone {
  display: flex;
  flex-direction: column;
  padding-left: 65px;
  position: relative;
}
.nav__phone::before {
  content: "";
  position: absolute;
  width: 44px;
  height: 44px;
  left: 0;
  top: 8px;
  background-image: url("./img/icons/phone.png");
}
.nav__phone-title {
  font-size: 17px;
  line-height: 29px;
}
.nav__phone-link {
  font-size: 17px;
  line-height: 29px;
  color: #ffffff;
}

/*Hero*/
.hero {
  background-color: #177165;
  padding: 100px 0;
  color: #fff;
}
.hero__inner {
  display: flex;
  justify-content: space-between;
}
.hero__text {
  max-width: 550px;
  width: 100%;
}
.description {
  font-size: 17px;
  line-height: 29px;
  color: #a4d6cf;
  position: relative;
  padding-left: 50px;
  margin-bottom: 20px;
  display: block;
}
.description::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 1px;
  left: 0;
  top: 14px;
  background-color: #a4d6cf;
}
.description:nth-child(2) {
  margin-bottom: 60px;
}
.hero__title {
  font-family: "Playfair Display";
  font-size: 60px;
  line-height: 78px;
  max-width: 550px;
  width: 100%;
  margin-bottom: 15px;
}
.hero__services {
  padding: 10px 70px 10px 50px;
  background-color: #fff;
  font-size: 16px;
  line-height: 26px;
  color: #177165;
  position: relative;
}
.hero__services::before {
  content: "+";
  position: absolute;
  right: 45px;
  top: 7px;
  color: #177165;
  height: 15px;
  width: 15px;
}
.hero__img {
  width: 420px;
  height: 590px;
  object-fit: cover;
}

/* about */
.about {
  padding: 215px 0 100px;
}
@media (max-width: 768px) {
  .about {
    padding: 75px 0 50px;
  }
}
.subtitle {
  font-size: 18px;
  line-height: 29px;
  color: #777;
  position: relative;
  padding-left: 50px;
}
.subtitle::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 1px;
  left: 0;
  top: 12px;
  background-color: #777;
}
@media (max-width: 768px) {
  .subtitle {
    font-size: 14px;
  }
  .subtitle::after {
    width: 20px;
    left: 20px;
    top: 15px;
  }
}
.title--about {
  max-width: 995px;
  width: 100%;
}
.about__inner {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .about__inner {
    flex-direction: column;
    align-items: center;
  }
}
.about__image {
  height: 870px;
  width: 550px;
  object-fit: cover;
}
@media (max-width: 992px) {
  .about__image {
    height: 560px;
    width: 360px;
  }
}
@media (max-width: 768px) {
  .about__image {
    max-height: 785px;
    height: 100%;
    max-width: 660px;
    width: 100%;
    margin-bottom: 25px;
  }
}
.about__img {
  margin-right: 15px;
}
.about__text {
  max-width: 465px;
  width: 100%;
  padding-top: 75px;
}
@media (max-width: 992px) {
  .about__text {
    padding-top: 0;
  }
}
.about__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  color: #177165;
  margin-bottom: 25px;
}
.about__item {
  font-size: 16px;
  line-height: 26px;
  color: #777;
  margin-bottom: 15px;
}
.about__item--color {
  font-family: "Playfair Display";
  font-size: 22px;
  line-height: 30px;
  color: #177165;
  margin-bottom: 35px;
}
.about__item--botom {
  margin-bottom: 95px;
}
@media (max-width: 768px) {
  .about__item--botom {
    margin-bottom: 55px;
  }
}
.about__link {
  padding: 10px 70px 10px 50px;
  background-color: white;
  border: 2px solid #177165;
  font-size: 16px;
  line-height: 26px;
  color: #177165;
  position: relative;
  padding: 10px 65px 10px 60px;
}
.about__link::before {
  content: "+";
  position: absolute;
  right: 45px;
  top: 7px;
  color: #177165;
  height: 15px;
  width: 15px;
}

.services {
  padding: 100px 0;
  background-color: #e1f4f2;
}
.services__subtitle {
  font-size: 17px;
  line-height: 29px;
  color: #777;
  position: relative;
  padding-left: 50px;
}
.services__subtitle::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 1px;
  left: 0;
  top: 12px;
  background-color: #777;
  margin-bottom: 10px;
}
.services__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  margin-bottom: 75px;
}
.services__item {
  max-width: 270px;
  width: 100%;
}
.services__image {
  max-width: 248px;
  width: 100%;
}
.services__title {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #177165;
}
.services__link {
  padding: 0px 10p;
  background-color: #e1f4f2;
  border: 2px solid #177165;
  font-size: 16px;
  line-height: 26px;
  color: #177165;
  position: relative;
  padding: 10px 65px 10px 60px;
  display: block;
  max-width: 225px;
  width: 100%;
  margin: 0 auto;
}
.services__link::before {
  content: "+";
  position: absolute;
  right: 45px;
  top: 10px;
  color: #177165;
  height: 15px;
  width: 15px;
}
@media (max-width: 1224px) {
  .services {
    padding: 50px 0;
  }
  .services__list {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
@media (max-width: 768px) {
  .services__title {
    font-size: 18px;
    line-height: 26px;
  }
  .services__list {
    gap: 15px;
  }
}

.action {
  background-color: #177165;
  padding: 80px 0;
}
.action--title {
  color: #fff;
}
.action__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.action__services {
  max-width: 465px;
  width: 100%;
  background-color: #23786d;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.nav__phone-title {
  color: #a4d6cf;
}
@media (max-width: 992px) {
  .action__inner {
    flex-direction: column;
  }
}

/* Team section  */
.team {
  padding: 100px 0;
}
.team__inner {
  max-width: 660px;
  margin-left: auto;
}
.team__list {
  display: flex;
}
.team__item {
  margin-right: 50px;
}
.team__item:last-child {
  margin-right: 0;
}
.team__image {
  width: 345px;
  height: 530px;
  object-fit: cover;
  margin-bottom: 30px;
}
.team__title {
  font-family: "Playfair Display";
  font-size: 26px;
  line-height: 42px;
  color: #177165;
}
.team__description {
  font-size: 15px;
  line-height: 26px;
  color: #777777;
  max-width: 300px;
  width: 100%;
}
@media (max-width: 1224px) {
  .team__image {
    max-width: 270px;
    width: 100%;
    max-height: 430px;
    height: 100%;
  }
}

@media (max-width: 992px) {
  .team__image {
    max-width: 270px;
    width: 100%;
    max-height: 430px;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .team {
    padding: 50px 0;
  }
  .team__list {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .team__item {
    margin-bottom: 25px;
  }
  .team__item:nth-child(2) {
    margin-right: 0;
  }
  .team__image {
    max-width: 245px;
    width: 100%;
    max-height: 430px;
    height: 100%;
  }
}
@media (max-width: 768px) {
  .team__item {
    margin-right: 0;
  }
  .team__image {
    max-width: 445px;
    width: 100%;
    max-width: 530px;
    height: 100%;
  }
}

.intro {
  background-color: #177165;
}
.intro___inner {
  display: flex;
}
.intro--title {
  color: #fff;
  margin-bottom: 0;
}
.intro__text {
  padding: 100px 0;
}
.intro__img {
  max-width: 570px;
  width: 100%;
  height: 415px;
  object-fit: cover;
}

@media (max-width: 992px) {
  .intro__img {
    max-width: 370px;
  }
}

@media (max-width: 768px) {
  .intro___inner {
    flex-direction: column;
  }
  .intro__img {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .intro__text {
    padding: 50px 0;
  }
  .intro__img {
    height: 230px;
  }
}
/* .project */
.project {
  padding: 100px 0 210px;
}
.project__list {
  display: flex;
  justify-content: space-between;
  background-color: #e1f4f2;
  padding: 65px 0;
}
.project__count {
  font-size: 45px;
  line-height: 73px;
  text-align: center;
  color: #177165;
}
.project__field {
  height: 530px;
  height: 530px;
  display: flex;
  align-items: flex-end;
}
.project__text {
  padding: 60px 50px 50px;
  background-color: #177165;
}
.project__text-subtitle {
  font-size: 15px;
  line-height: 26px;
  color: #a4d6cf;
}
.project__text-title {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #ffffff;
  margin-bottom: 20px;
}
.project__text-title:last-child {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .project__list {
    padding: 40px 10px;
  }
}
@media (max-width: 768px) {
  .project__list {
    flex-wrap: wrap;
  }
  .project__count {
    font-size: 36px;
    line-height: 63px;
  }
}
/* clients */
.clients {
  padding: 100px 0 150px;
  background-color: #e1f4f2;
  color: #177165;
}
.clients__list {
  display: flex;
  justify-content: space-between;
}
.clients__item {
  background-color: #fff;
  padding: 0 60px 50px;
}
.clients__item:last-child {
  margin-right: 0;
}
.clients__item-text {
  font-family: "Playfair Display";
  margin-bottom: 40px;
  margin-right: 60px;
  max-width: 420px;
}
.clients__author {
  font-family: "Playfair Display";
  font-size: 26px;
  line-height: 42px;
}
@media screen and (max-width: 768px) {
  .clients {
    padding: 50px 0 50px;
  }
  .clients__item {
    padding: 0 10px 25px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 540px) {
  .clients__list {
    flex-wrap: wrap;
  }
  .clients__item {
    margin-right: 0;
  }
  .clients__item:first-child {
    margin-bottom: 25px;
  }
}
.news {
  padding-top: 100px;
}
.news__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.news__item {
  background-color: #e1f4f2;
  max-width: 555px;
  width: 100%;
}
.news__item:first-child {
  margin-right: 30px;
}
.news__inner {
  padding: 30px;
}
.news__author {
  display: flex;
  margin-bottom: 25px;
}
.news__author span {
  font-size: 16px;
  line-height: 26px;
  color: #177165;
  margin-right: 5px;
}
.news__author p {
  font-size: 15px;
  line-height: 26px;
  color: #777;
}
.news__date {
  margin-right: 20px;
}
.news__title {
  font-family: "Playfair Display";
  font-size: 25px;
  line-height: 41px;
  color: #177165;
  margin-bottom: 20px;
}
.news__text {
  font-size: 16px;
  line-height: 26px;
  color: #777;
  margin-bottom: 45px;
}
.news__link {
  font-size: 16px;
  line-height: 26px;
  color: #177165;
  padding: 15px 75px 15px 55px;
  background-color: #fff;
  max-width: 215px;
  width: 100%;
  display: inline-block;
  position: relative;
}
.news__link::after {
  content: "+";
  position: absolute;
  right: 45px;
}
.news__icons-inner {
  background-color: #e1f4f2;
  padding: 100px 0;
}
.news__icons {
  padding: 100px;
  display: flex;
  background-color: #e1f4f2;
  justify-content: space-around;
  background-color: #e1f4f2;
}
@media screen and (max-width: 768px) {
  .news__inner {
    padding-top: 50px;
  }
  .news__title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .news__author {
    flex-wrap: wrap;
    margin-bottom: 5px;
  }
  .news__author p {
    font-size: 12px;
  }
  .news__icons-inner {
    padding: 50px 0;
  }
  .news__icons {
    flex-wrap: wrap;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
  .news__icons-item {
    margin-right: 25px;
    margin-bottom: 25;
  }
  .news__icons-item:nth-child(3) {
    margin-right: 0;
  }
  .news__icons-item:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 540px) {
  .news__list {
    flex-wrap: wrap;
  }
  .news__item:first-child {
    margin-right: 0;
    margin-bottom: 25px;
  }
  .news__icons {
    max-width: 310px;
  }
  .news__icons-img {
    width: 80px;
  }
}
/* footer */
.footer {
  padding-top: 100px;
  background-color: #177165;
  justify-content: space-between;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.footer__item {
  padding-top: 70px;
}
.footer__item-title {
  font-family: "Playfair Display";
  font-size: 30px;
  line-height: 33px;
  margin: 0 70px 40px 0;
}
.footer__link {
  font-size: 15px;
  line-height: 52px;
  padding-left: 25px;
}
.footer__list-item {
  position: relative;
}
.footer__list-item::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 53px;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./img/icons/arrow.svg);
}
.footer__preview {
  width: 465px;
  height: 465px;
  background-color: #23786d;
  padding: 70px;
}
.footer__logo {
  display: block;
  margin-bottom: 90px;
}
.footer__text {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}
@media (max-width: 992px) {
  .footer__inner {
    display: flex;
    flex-direction: column;
  }
  .footer__preview {
    margin-top: 20px;
  }
}
@media (max-width: 540px) {
  .footer__list {
    display: flex;
    flex-direction: column;
  }
  .footer__text {
    max-width: 300px;
    width: 100%;
  }
}

/* copy */
.copy {
  padding: 20px 0;
  background-color: #0a312c;
}
.copy__text {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}
.copy__text span {
  font-size: 16px;
  line-height: 26px;
  color: #a4d6cf;
}
